*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif !important;
    outline: none !important;
    color: #111;
}
html{
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 20px;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    background: #292929 no-repeat scroll center center;
    background-size: cover;
}
a{
    color: #111;
}
ul{
    padding: 0 0 0 25px;
}
canvas{
    margin: 0 auto;
    display: block;
}

#LEFT,#RIGHT{
    height: 100.1%;
    max-height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
}
#LEFT{
    width: 75%;
    background-color: rgba(33,33,33,.95);
    overflow: hidden;
}
#RIGHT{
    width: 25%;
    background-color: rgba(0,141,255,.95);
    padding: 20px 3%;
    padding-top: 60px;
}

#HEADER{
    margin-bottom: 10px;
    background-color: rgba(0,141,255,.95);
    box-sizing: border-box;
    padding: 10px;
}

#HEADER h1{
    color: #fff;
}

form{
    width: 100%;
}
label{
    display: block;
    font-size: 20px;
    width: 100%;
}
.form_input{
    width: 100%;
    margin: 0 0 20px 0;
}

input,select{
    width: 100%;
    height: 40px;
    padding: 0 15px;
    font-size: 20px;
    box-sizing: border-box;
    text-transform:uppercase;
    background-color: rgba(255,255,255,.95);
    border:0;
}

input[type="file"]{
    padding: 7px;
    font-size: 18px;
}

input:active,input:focus,input:hover,select:active,select:focus,select:hover{
    background-color: rgba(255,255,255,1);
}

#OUTPUT_MSG{
    position: fixed;
    top:50%;
    left: 30%;
    width: 40%;
    max-height: 0;
    margin: -50px 0 0 0;
    background-color: antiquewhite;
    overflow: hidden;
    text-align: center;
    padding: 0;
    box-sizing:border-box;
    transition:all .5s;
    -webkit-transition:all .5s;
    opacity: 0;
    font-size: 30px;
}

#OUTPUT_MSG.open{
    min-height: 70px;
    max-height: 1000px;
    padding: 20px 0;
    opacity: 1;
}

button,.button{
    min-width: 200px;
    padding: 5px 15px;
    font-size: 20px;
    border: 1px solid #fff;
    color: #fff;
    margin: 20px 20px 20px 0;
    background-color: rgba(255,255,255,0);
    cursor: pointer;
    display: inline-block;
    text-transform:uppercase;
    transition: all .1s;
    text-align: center;
}
button:hover{
    background-color: rgba(255,255,255,.05);
}

#OPEN_INFO{
    position: fixed;
    right: 0;
    bottom: 0;
}

#INFO_BOX{
    position: fixed;
    top: 25%;
    left: 20%;
    width: 60%;
    max-height: 0;
    overflow: hidden;
    box-sizing: border-box;
    transition: all .3s;
}

#INFO_BOX.open{
    max-height: 100%;
}

#INFO_BOX .head{
    color: #fff;
}

#INFO_BOX .mid{
    background-color: rgba(33,33,33,.95);
    display: flex;
    flex-direction: row;
    border: 1px solid #fff;
}

#INFO_BOX .mid div{
    height: 300px;
    width: 25%;
    flex-grow: 1;
    flex-basis: auto;
}

#INFO_BOX a{
    color: #fff;
    text-decoration: none;
}

#INFO_BOX .mid div a{
    display: block;
    width: 100%;
    height: 100%;
    transition: background .2s;
}

#INFO_BOX .mid .fb a{
    background: #3B5998 url("/files/img/facebook-logo.jpg") no-repeat center center;
    background-size: 70% auto;
}

#INFO_BOX .mid .fb a:hover{
    background-size: 80% auto;
}

#INFO_BOX .mid .github a{
    background: #24292E url("/files/img/github-logo.png") no-repeat center center;
    background-size: 60% auto;
}

#INFO_BOX .mid .github a:hover{
    background-size: 70% auto;
}

#INFO_BOX .mid .homepage a{
    background: #3F3F3F url("/files/img/UG_LOGO.png") no-repeat center center;
    background-size: 60% auto;
}

#INFO_BOX .mid .homepage a:hover{
    background-size: 70% auto;
}

#INFO_BOX .mid .homepage2 a{
    background: #011E26 url("/files/img/logo_wif.png") no-repeat center center;
    background-size: 60% auto;
}

#INFO_BOX .mid .homepage2 a:hover{
    background-size: 70% auto;
}

#INFO_BOX .footer{
    color: #fff;
}


.closeButton{
    position: absolute;
    top: 35px;
    right: 10px;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid rgba(255,255,255,.9);
    background-color: rgba(255,255,255,0);
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    transition: background .2s;
}

.closeButton:hover{
    background-color: rgba(255,255,255,.3);
}

@media (max-width:1000px){
    input,textarea,label,select{
        width: 100%;
        max-width: 100%;
    }
    #INFO_BOX{
        width: 90%;
        left: 5%;
    }
}


::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background: #267F67;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:active {
    background: #267F67;
}
::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
}
::-webkit-scrollbar-corner {
    background: transparent;
}